<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8">
  </head>
  <body>
    <h1>你是个大傻逼</h1>
    <img src="/images/yaoming.jpg">
  </body>
</html>
