<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8">
  </head>
  <body>
    <h1>爸爸爱你</h1>
    <p>由于没有更好看的图所以本帅比决定不换了</p>
    <img src="/images/you&me.jpg">
  </body>
</html>
